<% content_for(:title, "Skill | Portfolio") %>

<div class="block">
  <h1><%= @skill.name %></h1>
  <p><%= @skill.description %></p>

  <% if @skill.projects.any? %>
    <h4>Projects include:</h4>
    <ul>
      <% @skill.projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    </ul>
  <% end %>

</div>
<div class="block path">
  <% if current_user.try(:admin?) %>
    <p><%= link_to "Add a Project", new_project_path %></p>
    <p><%= link_to "Edit Skill", edit_skill_path(@skill) %></p>
    <p><%= link_to "Remove this skill", skill_path(@skill),
                      :data => {:confirm => "For reals?",
                                :method => "delete"} %></p>
  <% end %>
  <p><%= link_to "Return to Skills", skills_path %></p>
<div>
