<% content_for(:title, "Post | Portfolio") %>

<div class="block">
  <h1><%= @post.title %></h1>
  <h5>Written by: <%= @post.user.username %></h5>
  <p><%= @post.body %></p><br>

  <i>Posted <%= @post.timePosted %> ago.</i>
</div>

<hr>
<% if current_user %>
  <%= form_for [@post, @comment] do |f| %>
    <div class="form-group">
      <%= f.label :body, "Add a comment!" %>
      <%= f.text_field :body %>
    </div>
    <%= f.submit "Respond", class: "btn btn-success"%>
  <% end %>
<% end %>
<hr>
<ul>
  <% @post.comments.each do |comment| %>
    <%= comment.user.username %> responded:<br>
    <li class="buffer"><%= comment.body %></li><hr>
  <% end %>
</ul>


<p><%= link_to "Return to Posts", posts_path %></p>
